In [1]:
from sys import audit

import numpy as np

from pandas import DataFrame, Series

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 22, 35, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']
}

# 2
dataframe = DataFrame.from_dict(data)
print(dataframe, '\n')

# 3
df3 = DataFrame(dataframe, columns=['Name', 'Age'])
print(df3, '\n')

# 4
df4 = df3[df3['Age'] > 25]
print(df4, '\n')

# 5
df5 = dataframe[dataframe['City'] == 'Boston']
print(df5, '\n')

# 6
age_avg = np.mean(dataframe['Age'].tolist())
print("年龄列的平均值: ", age_avg)

# 7
df7 = dataframe.sort_values('Age')
print(df7, '\n')
names = df7['Name'].tolist()
print(names, '\n')

print(f"最年轻的人: {names[0]}\n最年轻的人: {names[-1]}\n")

# 8
print(dataframe['City'].value_counts(), '\n')

# 9
print(dataframe.sort_values('Age', ascending=True), '\n')

# 10
print(dataframe.sort_values('Age', ascending=False), '\n')

# 11
print(dataframe.sort_values('City'), '\n')

# 12
avg_ages_in_city = dataframe.groupby('City').Age.mean()
print(avg_ages_in_city, '\n')

# 13
young_counts = 0
adults_counts = 0
middle_aged_counts = 0
senior_counts = 0

def count_people_num_with_age(age):
    global young_counts, adults_counts, middle_aged_counts, senior_counts
    if 18 <= age <= 25:
        young_counts += 1
    elif 26 <= age <= 35:
        adults_counts += 1
    elif 36 <= age <= 50:
        middle_aged_counts += 1
    else:
        senior_counts += 1


age_arr = dataframe['Age'].tolist()
for i, e in enumerate(age_arr):
    count_people_num_with_age(e)

print(f"Young: {young_counts}人")
print(f"Adult: {adults_counts}人")
print(f"Middle-aged: {middle_aged_counts}人")
print(f"Senior: {senior_counts}人")

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
3    David   35        Chicago
4    Emily   28         Boston

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22
3    David   35
4    Emily   28

    Name  Age
1    Bob   30
3  David   35
4  Emily   28

    Name  Age    City
4  Emily   28  Boston

年龄列的平均值:  28.0
      Name  Age           City
2  Charlie   22    Los Angeles
0    Alice   25       New York
4    Emily   28         Boston
1      Bob   30  San Francisco
3    David   35        Chicago

['Charlie', 'Alice', 'Emily', 'Bob', 'David']

最年轻的人: Charlie
最年轻的人: David

City
New York         1
San Francisco    1
Los Angeles      1
Chicago          1
Boston           1
Name: count, dtype: int64

      Name  Age           City
2  Charlie   22    Los Angeles
0    Alice   25       New York
4    Emily   28         Boston
1      Bob   30  San Francisco
3    David   35        Chicago

      Name  Age           City
3    David   35        Chicago
1      Bob   30  San Francisco
4    Emily   28         Boston
0    Alice   25       New York
2  Charlie   22    Los Angeles

      Name  Age           City
4    Emily   28         Boston
3    David   35        Chicago
2  Charlie   22    Los Angeles
0    Alice   25       New York
1      Bob   30  San Francisco

City
Boston           28.0
Chicago          35.0
Los Angeles      22.0
New York         25.0
San Francisco    30.0
Name: Age, dtype: float64

Young: 2人
Adult: 3人
Middle-aged: 0人
Senior: 0人